langchain 
langchain-groq
langgraph
faiss-cpu
tiktoken
langchain-community
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt
pandas
jq
matplotlib
langchain-huggingface 